{% extends 'userhome.html' %}
{% load static %}

{% block content %}

<center>
    <div style="height:200px;">
    <h1>Raise funds for charity</h1>
    <br>
    <h2>Make &#8377;100 charity</h2>
    <br>


    <form action={{paypalURL}} method="post">
        <!-- Identify your business so that you can collect the payments. -->
        <input type="hidden" name="business" value={{paypalID}}>

        <!-- Specify a Buy Now button. -->
        <input type="hidden" name="cmd" value="_xclick">

        <!-- Specify details about the item that buyers will purchase. -->
        <input type="hidden" name="item_name" value="funds">
        <!--<input type="hidden" name="item_number" value=1>-->
        <input type="hidden" name="amount" value={{price}}>
        <input type="hidden" name="currency_code" value="USD">

        <!-- Specify URLs -->
        <input type='hidden' name='cancel_return' value=http://localhost:8000/user/cancel/ >
        <input type='hidden' name='return' value=http://localhost:8000/user/payment/?price={{price}}&uid={{sunm}} >

        <!-- Display the payment button. -->
        <input type="image" name="submit" border="0"
        height="50" width="200" src="{% static 'donate.png' %}" alt="PayPal - The safer, easier way to pay online">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
    </form>

    </div>
</center>
{% endblock %}