{% extends 'masterpage.html' %}
{% block page %}
{% endblock %}

{% block content %}
<div class="container pt">
    <div class="row mt">
        <div class="centered mbonly">
            <h3>About Us</h3>
            <hr>
        </div>
        <div class="row">
            <div class="">
                <p>
                    <strong>Scrap e-Auction</strong> is the simplified and transparent online scrap auction in industrial scrap management solution in India. With our scrap online auction process, scrap buyer whether small or large, are assured of the scrap online auction delivered to them in most simple, efficient and transparent manner anywhere in the country. We constantly strive to ensure that our buyer remain not more than a click away from fulfilling their steel requirements.
                </p>
                <h3>Our Services</h3>
                <p>
                    <strong>Scrap e-Auction</strong> has service offerings spanning the entire e- Commerce spectrum and operates through www.scrapeauction.com. Scrap e-Auction aims to make steel buying a customer friendly activity with transparency in pricing and policies with our assurance of quality and quantity backed by reputed manufacturers with whom we have firm arrangements to retail their products. Our module is dynamic, user-friendly, transparent, and gives you a secured access.
                </p>
                <h3>We offered services</h3>
                <p>
                </p>
                <ul>
                    <li>Conducting forward e-auctions</li>
                    <li>Mobile application for bidding</li>
                    <li>Steel information and rates of steel scrap via sms, mail</li>
                    <li>Market analysis reports</li>
                    <li>All documents submission process available on our website</li>
                    <li>Online and offline support from Scrap e-Auction dedicated team</li>
                </ul>
                <p></p>
                <h3>How it will help you?</h3>
                <p>
                </p>
                <ul>
                    <li>Simple and transparent scrap e-auction</li>
                    <li>Cost-effective selling compared to traditional methods</li>
                    <li>Conclusive deals in a few hours without physical presence</li>
                    <li>Privacy during entire e-process</li>
                    <li>Comfort of conducting sell or buy from any location</li>
                    <li>Reliable information on availability and and quality of material</li>
                    <li>Facility for company see online auction in company login</li>
                    <li>Transparent pricing based on market situation</li>
                    <li>Availability of  value added services like inspection of material, scrap price, etc.</li>
                    <li>Disposal of large/small quantity stock in shorter time period.</li>
                </ul>
                <p></p>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}