{% extends 'masterpage.html' %}

{% block page %}
{% endblock %}

{% block content %}
<div style="min-height:80%;">
    <div class="container pt">
        <div class="mt">
            <div class="centered mbonly">
                <h3>Auction Process - Transparent &amp; Simplified</h3>
                <hr>
            </div>
            <div class="">
                <p>
                    <strong>Welcome to Scrap e-Auction</strong> its provide you simple and transparent online scrap auctions. For participation in e-auction for particular auction or lot. The final bidder shall be authorized by seller as mentioned below.
                    <br>You can bid by two ways standard bid and auto bid.
                </p>
                <h3>Standard bid</h3>
                <p>
                    Standard bid is bid by buyer, in this you can challenge to other buyers, with in a time
                    period. The highest bidder will be taken into consideration.
                </p>
                <h3>Auto bid</h3>
                <p>
                    Auto bid is a proxy bidding features. Auto bid facility is provided for bidders intending to place a maximum value for a lot/lots.&nbsp;&nbsp;Auto bid is not a confirmed bid. It is only the maximum selling amount set by the bidder to enable the auction software to place bids on his behalf, whenever he is&nbsp;out bided,&nbsp;up to&nbsp;the selling set by him. Once auto bid is set, the auction software will consider the selling amount for the next possible bid only, depending on the highest bid prevailing at that point of time and the increment amount prescribed for that particular lot. Bidders may please note that in the event of a manual bid amount matching that of auto bid, the manual bid will prevail and be considered.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}