{% extends 'adminhome.html' %}
{% block header %}
<div id="header">
  <div id="logo">
    <div id="logo_text">
      <!-- class="logo_colour", allows you to change the colour of the text -->
      <h1><a href="index.html">The<span class="logo_colour">ScrapAuction</span></a></h1>
      <h2>The World is Here....Where are you!</h2>
      <br>
      <font color="greenyellow">welcome:{{sunm}}</font>

    </div>
{% endblock  %}
{% block content %}
<div class="box">
  <h2>Welcome to The Scrap Auction</h2>
  <center>
<h2>Add Category Here!!!</h2>
<font color="blue">{{output}}</font>
<form method="POST" action="/myadmin/addcategory/" enctype="multipart/form-data" >
{% csrf_token %}    
<table cellspacing="10">
<tr>
  <td>Category Name</td>
<td><input type="text" name="catname" placeholder="Enter Category name" required /></td>    
</tr>    
<tr>
  <td>Category Icon</td>
<td><input type="file" name="caticon" required /></td>    
</tr>
<tr>
  <td></td>
  <td><input type="submit" name="s" value="Add Category" /></td>    
  </tr>
  </table>    
  </form>
</center>
</div>
{% endblock %}

