{% extends 'adminhome.html' %}
{% block header %}
<div id="header">
  <div id="logo">
    <div id="logo_text">
      <!-- class="logo_colour", allows you to change the colour of the text -->
      <h1><a href="index.html">The<span class="logo_colour">ScrapAuction</span></a></h1>
      <h2>The World is Here....Where are you!</h2>
      <br>
      <font color="greenyellow">welcome:{{sunm}}</font>

    </div>
{% endblock  %}
{% block content %}

<div style="min-height:200px;">
  
  <h2>Welcome to The Scrap Auction</h2>
  <center>
    <h2>Add Sub Category Here!!!</h2>
    <font color="blue">{{output}}</font>
   
          <form method="POST" action="/myadmin/addsubcategory/" enctype="multipart/form-data"  >
    {% csrf_token %}    
    <table cellspacing="10">
    <tr>
    <td>Category Name</td>
    <td>    
    <select name="catname" style="width:75%">
    <option>Select Category</option>
    {% for row in clist %}
    <option>{{row.catname}}</option>
    {% endfor %}
    </select>    
    </td>    
    </tr>
    <tr>
    <td>Sub Category Name</td>
    <td><input type="text" name="subcatname" placeholder="Enter Sub Category Name" required /></td>    
    </tr>    
    <tr>
    <td>Sub Category Icon</td>
    <td><input type="file" name="caticon" required /></td>    
    </tr>
    <tr>
      <td></td>
    <td><input type="submit" name="s" value="Add Sub Category" /></td>    
    </tr>
    </table>    
    </form>
  </center>

</div>
{% endblock %}

